*{
    box-sizing: border-box;
}

body, div, ul, li, a, h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}

body{
    --bg-color: rgb(15, 69, 94);
    --card-color:#fff;
    --card-bg-color:#fff6;
    --dark-color: rgb(119, 182, 236);
    --text-color: #444;
    background-color: var(--bg-color);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* HEADER SECTION */

header{
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.5);
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: linear-gradient(#ddf , #29f);
}

.item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0 20px;
    background-color: var(--bg-color);
    list-style: none;
    border-radius: 6px;
}

.item-list {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-list .logo-image{
    display: flex;
    align-items: start;
}

.item a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 15px 25px;
    color: var(--card-color);
    border-radius: 5px;
}

.item a:hover{
    animation: header-button 1s;
}

@keyframes header-button{
    from{
        padding: 30px 40px;
        background-color: var(--bg-color);
    }
    to{
        padding: 15px 25px;
        background-color: #fff;
    }
}

.item a:hover{
    color: var(--bg-color);
    background-color: var(--card-color);
    border-radius: 5px;
    font-weight: bold;
}

.logo-image{
    width: 110px;
    padding: 10px;
}

.item-container {
    display: flex;
}

/* MAIN SECTION */

.contact{
    background-color: #333;
    width: 50dvw;
    height: auto;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    border: 4px solid var(--bg-color);
    border-radius: 20px;
}

h2{
    font-size: 2rem;
    margin-top: 1.5rem;
    text-align: center;
    background-color: var(--dark-color);
    color: var(--bg-color);
}

.form-container{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin: 10px;
}

.form-container label{
    font-size: 1.2rem;
    color: #fff;
}

.form-container input, textarea{
    background-color: #333;
    color: var(--card-color);
    padding: 10px 0;
    border: none;
    border-bottom: 3px solid #111;
    border-left: 3px solid #111;
}

.form-container input:focus, textarea:focus{
    border: 3px solid #111;
    background-color: #444;
}

textarea{
    min-width: 200px;
    max-width: 100%;
    min-height: 100px;
    max-height: 200px;
}

.form{
    height: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.textarea{
    padding-bottom: 0px;
}

/* FOOTER SECTION */

footer{
    display: flex;
    background-color: var(--text-color);
    color: #fff;
    text-align: center;
    justify-content: space-between;
    padding: 40px 35px;
}

@media screen and (max-width: 850px) {

    .contact{
        width: 90%;
        justify-content: center;
    }

    .event{
        font-size: 1.3rem;
        min-width: 100%;
    }

    .item-list{
        flex-direction: row;
        padding-bottom: 15px;
    }

    .skill-bar div{
        color: var(--text-color);
    }

    .item{
        font-size: 10px;
        margin: 2px;
        margin-top: 14px;
        padding: 0 7px;
    }

    .item a{
        padding: 15px 10px;
    }

    .logo-image{
        width: 5rem;
    }

    .section1, .section2, .section3, .section4{
        background-position: center;
        background-position: 25%;
    }

    body, li, h2, h3, h4, h5, h6, p{
        font-size: 1.4rem;
    }

    header a{
        font-size: .5rem;
    }

    .event a{
        padding: 10px 10px;
    }

    .text-container h2{
        font-size: 2.2rem;
    }

    .text-container p{
        font-size: 1.3rem;
    }

    .text-container p:last-child{
        font-size: 2rem;
    }

    footer{
        font-size: 1rem;
    }

}
